.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
}
.topicos__titulo {
    color: var(--branco);
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 1em;
   
}
.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.topicos__item{
    margin: 2em 0.5em;
}
.topicos__link {
    color: var(--branco);
    text-decoration: none;
    background-color: var(--laranja );
    padding: 1em;
    font-size: 14px;
    font-weight: 700;
}
@media screen and (min-width: 1024px) {
    .topicos__titulo .topicos__link{
        font-size: 24px;
    }
    
    
}